#Data Cleaning for Utility <-> Services <-> Territory Relation

In [1]:
#Import Pandas and Numpy for data frames and data types
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

0.25.3
1.18.2

In [0]:
#Import visual plotting and mapping libraries.
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
#Import seaborn to visualize missing data.
import seaborn as sns

#Utility <-> Services <-> Territory - Reading in Intial Spreadsheets

##2018 Territory Table

In [0]:
#2018

#Need to read data in for both states and territories

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
territory2018_columns = ['year',
                         'util_id',
                         'state',
                         'county']
#Define datatypes to use for the columns.  Specified in the form of a converter.
territory2018_typeConverter = {'year':int,
                               'util_id':int,
                               'state':str,
                               'county':str}
#-------------------------RESIDENTIAL-------------------------
columnNames = territory2018_columns
typeConverter = territory2018_typeConverter
sheetCols = 'A,B,D,E'
#Read in excel sheet for state-county data
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2018.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties_States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )

df2 = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2018.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties_Territories',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Write to final dataframe.
territory2018 = pd.concat([df, df2], axis=0)

In [7]:
#Output data type columns.  Strings show as objects for some reason...
print(territory2018.dtypes)
print(territory2018.shape)
print(territory2018)

year        int64
util_id     int64
state      object
county     object
dtype: object
(11910, 4)
    year  util_id state            county
0   2018       59    LA         Vermilion
1   2018       84    MD          Somerset
2   2018       84    VA          Accomack
3   2018       84    VA       Northampton
4   2018       87    MN            Norman
..   ...      ...   ...               ...
81  2018    40429    AS            Manu A
82  2018    40429    AS       Rose Island
83  2018    40429    AS     Swains Island
84  2018    40429    AS           Western
85  2018    57105    MP  Northern Islands

[11910 rows x 4 columns]

##2017 Territory Table

In [0]:
#2017

#Need to read data in for both states and territories

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
territory2017_columns = ['year',
                         'util_id',
                         'state',
                         'county']
#Define datatypes to use for the columns.  Specified in the form of a converter.
territory2017_typeConverter = {'year':int,
                               'util_id':int,
                               'state':str,
                               'county':str}
#-------------------------RESIDENTIAL-------------------------
columnNames = territory2017_columns
typeConverter = territory2017_typeConverter
sheetCols = 'A,B,D,E'
#Read in excel sheet for state-county data
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2017.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties_States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )

df2 = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2017.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties_Territories',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Write to final dataframe.
territory2017 = pd.concat([df, df2], axis=0)

In [9]:
#Output data type columns.  Strings show as objects for some reason...
print(territory2017.dtypes)
print(territory2017.shape)
print(territory2017)

year        int64
util_id     int64
state      object
county     object
dtype: object
(11911, 4)
    year  util_id state            county
0   2017       59    LA         Vermilion
1   2017       84    MD          Somerset
2   2017       84    VA          Accomack
3   2017       84    VA       Northampton
4   2017       87    MN            Norman
..   ...      ...   ...               ...
81  2017    40429    AS            Manu A
82  2017    40429    AS       Rose Island
83  2017    40429    AS     Swains Island
84  2017    40429    AS           Western
85  2017    57105    MP  Northern Islands

[11911 rows x 4 columns]

##2016 Territory Table

In [0]:
#2016

#For some reason, states aren't separates from territories in 2016

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
territory2016_columns = ['year',
                         'util_id',
                         'state',
                         'county']
#Define datatypes to use for the columns.  Specified in the form of a converter.
territory2016_typeConverter = {'year':int,
                               'util_id':int,
                               'state':str,
                               'county':str}
#-------------------------RESIDENTIAL-------------------------
columnNames = territory2016_columns
typeConverter = territory2016_typeConverter
sheetCols = 'A,B,D,E'
#Read in excel sheet for state-county data
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2016.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )

#Write to final dataframe.
territory2016 = df.copy(deep=True)

In [12]:
#Output data type columns.  Strings show as objects for some reason...
print(territory2016.dtypes)
print(territory2016.shape)
print(territory2016)

year        int64
util_id     int64
state      object
county     object
dtype: object
(11950, 4)
       year  util_id state       county
0      2016       59    LA    Vermilion
1      2016       84    MD     Somerset
2      2016       84    VA     Accomack
3      2016       84    VA  Northampton
4      2016       87    MN       Norman
...     ...      ...   ...          ...
11945  2016    60839    KS        Kiowa
11946  2016    60839    KS        Meade
11947  2016    60839    KS        Pratt
11948  2016    60839    KS         Reno
11949  2016    60839    KS       Seward

[11950 rows x 4 columns]

##2015 Territory Table

In [0]:
#2015

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
territory2015_columns = ['year',
                         'util_id',
                         'state',
                         'county']
#Define datatypes to use for the columns.  Specified in the form of a converter.
territory2015_typeConverter = {'year':int,
                               'util_id':int,
                               'state':str,
                               'county':str}
#-------------------------RESIDENTIAL-------------------------
columnNames = territory2015_columns
typeConverter = territory2015_typeConverter
sheetCols = 'A,B,D,E'
#Read in excel sheet for state-county data
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2015.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )

#Write to final dataframe.
territory2015 = df.copy(deep=True)

In [14]:
#Output data type columns.  Strings show as objects for some reason...
print(territory2015.dtypes)
print(territory2015.shape)
print(territory2015)

year        int64
util_id     int64
state      object
county     object
dtype: object
(11970, 4)
       year  util_id state       county
0      2015       59    LA    Vermilion
1      2015       84    MD     Somerset
2      2015       84    VA     Accomack
3      2015       84    VA  Northampton
4      2015       87    MN       Norman
...     ...      ...   ...          ...
11965  2015    59505    IN    Kosciusko
11966  2015    59505    IN        Miami
11967  2015    59505    IN       Wabash
11968  2015    59505    IN      Whitley
11969  2015    60080    IA     Hamilton

[11970 rows x 4 columns]

##2014 Territory Table

In [0]:
#2014

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
territory2014_columns = ['year',
                         'util_id',
                         'state',
                         'county']
#Define datatypes to use for the columns.  Specified in the form of a converter.
territory2014_typeConverter = {'year':int,
                               'util_id':int,
                               'state':str,
                               'county':str}
#-------------------------RESIDENTIAL-------------------------
columnNames = territory2014_columns
typeConverter = territory2014_typeConverter
sheetCols = 'A,B,D,E'
#Read in excel sheet for state-county data
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2014.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )

#Write to final dataframe.
territory2014 = df.copy(deep=True)

In [18]:
#Output data type columns.  Strings show as objects for some reason...
print(territory2014.dtypes)
print(territory2014.shape)
print(territory2014)

year        int64
util_id     int64
state      object
county     object
dtype: object
(11912, 4)
       year  util_id state       county
0      2014       59    LA    Vermilion
1      2014       84    MD     Somerset
2      2014       84    VA     Accomack
3      2014       84    VA  Northampton
4      2014       87    MN       Norman
...     ...      ...   ...          ...
11907  2014    59505    IN   Huntington
11908  2014    59505    IN    Kosciusko
11909  2014    59505    IN        Miami
11910  2014    59505    IN       Wabash
11911  2014    59505    IN      Whitley

[11912 rows x 4 columns]

##2013 Territory Table

In [0]:
#2013

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
territory2013_columns = ['year',
                         'util_id',
                         'state',
                         'county']
#Define datatypes to use for the columns.  Specified in the form of a converter.
territory2013_typeConverter = {'year':int,
                               'util_id':int,
                               'state':str,
                               'county':str}
#-------------------------RESIDENTIAL-------------------------
columnNames = territory2013_columns
typeConverter = territory2013_typeConverter
sheetCols = 'A,B,D,E'
#Read in excel sheet for state-county data
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/Service_Territory_2013.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )

#Write to final dataframe.
territory2013 = df.copy(deep=True)

In [20]:
#Output data type columns.  Strings show as objects for some reason...
print(territory2013.dtypes)
print(territory2013.shape)
print(territory2013)

year        int64
util_id     int64
state      object
county     object
dtype: object
(11927, 4)
       year  util_id state        county
0      2013       59    LA     Vermilion
1      2013       84    MD      Somerset
2      2013       84    VA      Accomack
3      2013       84    VA   Northampton
4      2013       87    MN        Norman
...     ...      ...   ...           ...
11922  2013    58123    NV         Clark
11923  2013    58124    FL        Orange
11924  2013    58125    CA  Contra Costa
11925  2013    58126    CA        Solano
11926  2013    59013    WA     Jefferson

[11927 rows x 4 columns]

##2012 Territory Table

In [0]:
#2012

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
territory2012_columns = ['year',
                         'util_id',
                         'state',
                         'county']
#Define datatypes to use for the columns.  Specified in the form of a converter.
territory2012_typeConverter = {'year':int,
                               'util_id':int,
                               'state':str,
                               'county':str}
#-------------------------RESIDENTIAL-------------------------
columnNames = territory2012_columns
typeConverter = territory2012_typeConverter
sheetCols = 'A,B,D,E'
#Read in excel sheet for state-county data
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/4_territory/service_territory_2012.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Counties',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = '',  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )

#Write to final dataframe.
territory2012 = df.copy(deep=True)

In [22]:
#Output data type columns.  Strings show as objects for some reason...
print(territory2012.dtypes)
print(territory2012.shape)
print(territory2012)

year        int64
util_id     int64
state      object
county     object
dtype: object
(11657, 4)
       year  util_id state              county
0      2012       59    LA           Vermilion
1      2012       84    MD            Somerset
2      2012       84    VA            Accomack
3      2012       84    VA         Northampton
4      2012       87    MN              Norman
...     ...      ...   ...                 ...
11652  2012    57351    AK  Lake and Peninsula
11653  2012    58123    AZ              Mohave
11654  2012    58124    FL              Orange
11655  2012    58125    CA        Contra Costa
11656  2012    58126    CA              Solano

[11657 rows x 4 columns]

#Territory - Concatinate Previous Years

In [0]:
#Concatinate 2018 to 2012 into 1 dataframe.
territory_2018_to_2013 = pd.concat([territory2018,
                                territory2017,
                                territory2016,
                                territory2015,
                                territory2014,
                                territory2013,
                                territory2012],
                               axis = 0)

In [25]:
#Output data type columns.  Strings show as objects for some reason...
print(territory_2018_to_2013.dtypes)
print(territory_2018_to_2013.shape)
print(territory_2018_to_2013)

year        int64
util_id     int64
state      object
county     object
dtype: object
(83237, 4)
       year  util_id state              county
0      2018       59    LA           Vermilion
1      2018       84    MD            Somerset
2      2018       84    VA            Accomack
3      2018       84    VA         Northampton
4      2018       87    MN              Norman
...     ...      ...   ...                 ...
11652  2012    57351    AK  Lake and Peninsula
11653  2012    58123    AZ              Mohave
11654  2012    58124    FL              Orange
11655  2012    58125    CA        Contra Costa
11656  2012    58126    CA              Solano

[83237 rows x 4 columns]

#Output to CSV Files

In [0]:
#Output to csv file.
territory_2018_to_2013.to_csv('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/cleanedData/4_territory/territory_2018_to_2012.csv')